body {
  font-family: "Lato", sans-serif;
  background: url(/images/utms.png);
}

.topnav {
  overflow: hidden;
}
.topnav n {
  float: left;
  color: #f3eeee;
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}
div.sidenav {
  position: absolute;
  top: 81px;
}
.sidenav {
  border: #1ac385;
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(212, 237, 219);
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 40px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}
.sidenav n {
  padding: 60px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #1ac385;
}

.main {
  margin-left: 300px; /* Same as the width of the sidenav */
  font-size: 40px; /* Increased text to enable scrolling */
  /* padding: 0px 0px; */
  display: block;
  background-color: #1ac385;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
